* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
}
  
* {
    outline: 1px solid red;
  }
  

.navbar {
    background-color: #d60000;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

#navbar_logo {
    width: 80px;
  }
  

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px 0 0;
}

#logo {
    height: 100%;
    width: auto;
}

.navbar_menu {
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: 80px;
}

.navbar_links{
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-decoration:  none;
    padding: 0 2.2rem;
    height: 100%;
}

.navbar_links:hover {
    color: #440000;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 99;
        width: 100%;
        margin: 0;
    }
    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #d60000;
    }

    .navbar_menu.active {
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        height: 50vh;
        font-size: 1.6rem;
        background-color: #d60000;
    }
    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease_in-out;
        background: #fff;
    }
    .navbar_item {
        z-index: 1;
        width: 100%;
    }
    .navbar_links {
        width: 100%;
        text-align: center; 
        padding: 2rem;
        display: table;
        font-size: 3rem;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}